<%- include("header.ejs") %> 
<div class="container container-fluid">
  <h1>IP Address Tracker</h1>
  <form action="/" method="POST" class="col-lg-5">
    <input type="text" class="form-control" placeholder="Search for any IP address or domain"
      aria-label="Enter a IP Address." name="ipEntered"><button class="Btn btn btn-dark" type="submit"><i class="fas fa-chevron-right"></i></button>
  </form>
  <div class="infoContainer col-lg-11 col-md-11 col-11">
    <div class="infoItem ">
      <div class="content">
        <p>IP Address</p>
      <h4><%=ipInfo["ip"]%></h4>
      </div>
    </div>
    <div class="infoItem ">
      <div class="content">
        <p>Location</p>
      <h4><%=ipInfo["location"]%></h4>
      </div>
    </div>
    <div class="infoItem ">
      <div class="content">
        <p>Timezone</p>
      <h4>UTC <span><%=ipInfo["timezone"]%></span></h4>
      </div>
    </div>
  <div class="infoItemLast">
    <p>ISP</p>
    <h4><%=ipInfo["isp"]%></h4>
  </div>    
  </div>
</div>
<%- include("footer.ejs") %> 